<?xml version="1.0"?>
<robot name="shingle">
  <!-- End effector attached to world -->
  <link name="shingle/shingle">
    <inertial>
      <mass value="0.151" />
      <inertia ixx="3.8554e-05" ixy="9.4075e-07" ixz="1.709e-06" iyy="4.445e-05" iyz="1.2246e-06" izz="2.5729e-05"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <box size="0.254 0.182 0.02" />
      </geometry>
      <material name="red">
        <color rgba="0.2 0 0 1.0" />
      </material>
    </visual>
    <!-- <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <box size="0.254 0.182 0.02" />
      </geometry>
    </collision> -->
  </link>

  <gazebo reference="shingle/shingle">
    <gravity>0</gravity>
  </gazebo>
</robot>
