<?xml version="1.0"?>
<robot name="shingle">
  <link name="world" />
  <link name="body">
    <inertial>
      <mass value="0.151" />
      <inertia ixx="3.8554e-05" ixy="9.4075e-07" ixz="1.709e-06" iyy="4.445e-05" iyz="1.2246e-06" izz="2.5729e-05"/>
    </inertial>
    <collision name="collision1">
      <pose>0.0436072 0.0072239 0.127 </pose>
      <origin> 0 0 0  0 0 0</origin>
      <geometry>
        <box size="0.087122 0.014478 0.254" />
      </geometry>
    </collision>
    <collision name="collision2">
      <pose>0.09144 0.022117 0.127 0 0 1.728216842 </pose>
      <origin> 0 0 0  0 0 0</origin>
      <geometry>
        <box size="0.013652 0.183003 0.254" />
      </geometry>
    </collision>       
    <visual name="visual">
      <geometry>
        <mesh filename="package://inchworm_description/media/Demo_Shingle.STL" scale="0.001 0.001 0.001" />
      </geometry>
    </visual>
  </link>

  <joint name="shingle_to_world" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0" />
    <parent link="world" />
    <child link="body" />
  </joint>
</robot>
